<!-- jQuery -->
    <script src="/public/js/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/public/js/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/public/js/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/public/js/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/public/js/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/public/js/moment/min/moment.min.js"></script>
    <script src="/public/js/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="/public/js/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/public/js/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/public/js/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/public/js/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/public/js/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/public/js/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/public/js/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/public/js/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/public/js/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/public/js/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/public/js/build/js/custom.min.js"></script>
	
 