<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  
    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    
	<link href="/public/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <link href="/public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/public/css/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/public/css/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="/public/css/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/public/css/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="/public/css/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/public/css/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/public/css/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/public/css/build/css/custom.min.css" rel="stylesheet">